deployment:
  replicas: 2
  minReadySeconds: 10

podDisruptionBudget:
  enabled: true
  minAvailable: 1

priorityClassName: "system-cluster-critical"

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        preference:
          matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: In
              values:
                - "true"

topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: '{{ template "traefik.name" . }}'
    matchLabelKeys:
      - pod-template-hash
    maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule

providers:
  kubernetesIngressNginx:
    enabled: true
    throttleDuration: "2s"

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.6

logs:
  access:
    enabled: true
    format: json
  fields:
    headers:
      names:
        User-Agent: keep

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
