---
- name: "Tap siderolabs brew"
  community.general.homebrew_tap:
    name: siderolabs/tap
    state: present
- name: "Ensure updated tools are updated with brew."
  community.general.homebrew:
    name: "{{ item }}"
    state: latest
  loop:
    - kubectl
    - k9s
    - helm
    - kubectx
    - kustomize
    - siderolabs/tap/talosctl
