---
- name: Ensure updated {{ item }}.
  community.general.homebrew:
    name: "{{ item }}"
    state: latest
  loop:
    - kubectl
    - k9s
    - helm
    - kubectx
    - kustomize
    - siderolabs/tap/talosctl
