apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: audiobookshelf
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    path: manifests/base/audiobookshelf
    repoURL: 'https://github.com/theadzik/homelab'
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

---

apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: audiobookshelf
spec:
  namespace: argocd
  applicationRefs:
    - namePattern: "audiobookshelf"
      writeBackConfig:
        method: "git"
      images:
        - alias: "audiobookshelf"
          imageName: "ghcr.io/advplyr/audiobookshelf:~2"
