apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - argocd.yaml
  - audiobookshelf.yaml
  - cert-manager.yaml
  - cloudflared.yaml
  - cnpg.yaml
  - crowdsec.yaml
  - external-dns.yaml
  - gateway.yaml
  - gateway-api-crd.yaml
  - ingress-nginx.yaml
  - intel-device-plugin.yaml
  - kgateway.yaml
#  - kube-prometheus-stack.yaml
#  - kube-prometheus-stack-crd.yaml
  - media.yaml
  - metal-lb.yaml
  - pihole.yaml
  - priority-classes.yaml
  # - reddit-meaningofwords.yaml
  - synology-csi.yaml
  - tandoor.yaml
  - vaultwarden.yaml
  - velero.yaml
  - vpa.yaml
  - zmuda-pro-blog.yaml
