apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: media
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    path: manifests/base/media
    repoURL: 'https://github.com/theadzik/homelab'
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

---

apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: media
spec:
  namespace: argocd
  applicationRefs:
    - namePattern: "media"
      writeBackConfig:
        method: "git"
      images:
        - alias: "jellyfin"
          imageName: "lscr.io/linuxserver/jellyfin:~10.11"
          commonUpdateSettings:
            updateStrategy: "semver"
        - alias: "bazarr"
          imageName: "lscr.io/linuxserver/bazarr:~1"
          commonUpdateSettings:
            updateStrategy: "semver"
        - alias: "radarr"
          imageName: "lscr.io/linuxserver/radarr:~6"
          commonUpdateSettings:
            updateStrategy: "semver"
            allowTags: "regexp:^[0-9]+\\.[0-9]+\\.[0-9]+$"
        - alias: "sonarr"
          imageName: "ghcr.io/hotio/sonarr:release"
          commonUpdateSettings:
            updateStrategy: "digest"
        - alias: "nzbget"
          imageName: "lscr.io/linuxserver/nzbget:~25"
          commonUpdateSettings:
            updateStrategy: "semver"
