apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: pihole
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  project: default
  source:
    path: manifests/base/pihole
    repoURL: 'https://github.com/theadzik/homelab'
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: pihole
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

---

apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: pihole
spec:
  namespace: pihole
  applicationRefs:
    - namePattern: "pihole"
      writeBackConfig:
        method: "git"
      images:
        - alias: "pihole"
          imageName: "pihole/pihole"
          commonUpdateSettings:
            updateStrategy: "alphabetical"
            allowTags: "regexp:^[0-9]{4}\\.[0-9]{2}\\.[0-9]+$"
        - alias: "nebula"
          imageName: "ghcr.io/lovelaze/nebula-sync"
          commonUpdateSettings:
            updateStrategy: "semver"
