apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: velero
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - chart: velero
      repoURL: https://vmware-tanzu.github.io/helm-charts
      targetRevision: 10.*.*
      helm:
        releaseName: velero
        valueFiles:
          - $velero/manifests/base/velero/values.yaml
    - path: manifests/base/velero
      repoURL: 'https://github.com/theadzik/homelab'
      targetRevision: HEAD
      ref: velero
    - path: manifests/base/image-pull-secret
      repoURL: 'https://github.com/theadzik/homelab'
      targetRevision: HEAD
  destination:
    server: "https://kubernetes.default.svc"
    namespace: velero
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
