apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vertical-pod-autoscaler
  annotations:
    argocd.argoproj.io/sync-wave: "-30"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - chart: vertical-pod-autoscaler
      repoURL: https://kubernetes.github.io/autoscaler
      targetRevision: 0.6.*
      helm:
        releaseName: vertical-pod-autoscaler
        valueFiles:
          - $homelab/manifests/base/vpa/values.yaml
    - repoURL: 'https://github.com/theadzik/homelab'
      targetRevision: main
      ref: homelab
  destination:
    server: "https://kubernetes.default.svc"
    namespace: vertical-pod-autoscaler
  ignoreDifferences:
    - group: ""
      kind: "Secret"
      name: "vertical-pod-autoscaler-admission-controller-tls"
      jsonPointers:
        - /data
    - group: "apps"
      kind: "Deployment"
      name: "vertical-pod-autoscaler-admission-controller"
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1tls-secret # ~1 = /
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
