apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vertical-pod-autoscaler
  annotations:
    argocd.argoproj.io/sync-wave: "-30"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - chart: vertical-pod-autoscaler
      repoURL: https://kubernetes.github.io/autoscaler
      targetRevision: "*"
      helm:
        releaseName: vertical-pod-autoscaler
        valueFiles:
          - $homelab/manifests/base/vpa/values.yaml
    - repoURL: 'https://github.com/theadzik/homelab'
      targetRevision: main
      ref: homelab
  destination:
    server: "https://kubernetes.default.svc"
    namespace: vertical-pod-autoscaler
  ignoreDifferences:
    - group: ""
      kind: "Secret"
      name: "vpa-tls-certs"
      jsonPointers:
        - /data
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
