apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: kube-system
  name: argocd
spec:
  targetNamespace: argocd
  createNamespace: true
  version: 9.1.4
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  valuesSecrets:
    - name: helm-argocd-values
      ignoreUpdates: false
      keys:
        - configs
  valuesContent: |-
    global:
      domain: argocd.zmuda.pro
      image:
        repository: theadzik/custom-argocd
        tag: ""

      imagePullSecrets:
        - name: dockerhub-image-pull-secret

      networkPolicy:
        create: true
        defaultDenyIngress: false

      priorityClassName: "system-cluster-critical"

    configs:
      rbac:
        policy.csv: |
          p, role:authenticated, *, *, *, deny
          g, zmuda-pro:argocd-admins, role:admin
        policy.default: role:authenticated
        scopes: '[groups, email]'
        policy.matchMode: 'glob'

    server:
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: "lets-encrypt-prod"
        labels:
          dns-type: internal
        ingressClassName: "traefik"
        tls: true

    repoServer:
      env:
        - name: GITCRYPT_KEY_PATH
          value: "/git-crypt/git-crypt-key"
      volumeMounts:
        - mountPath: /git-crypt
          name: git-crypt
          readOnly: true
      volumes:
        - name: git-crypt
          hostPath:
            path: "/mnt/kubernetes-disks/argocd"
