apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ingress-bazarr.yaml
  - ingress-jellyfin.yaml
  - ingress-lidarr.yaml
  - ingress-nzbget.yaml
  - ingress-radarr.yaml
  - ingress-sonarr.yaml
  - namespace.yaml
  - nwp.yaml
  - pvc.yaml
  - routes.yaml
  - secret-nzbget.yaml
  - service-bazarr.yaml
  - service-jellyfin.yaml
  - service-lidarr.yaml
  - service-nzbget.yaml
  - service-radarr.yaml
  - service-sonarr.yaml
  - statefulset-bazarr.yaml
  - statefulset-jellyfin.yaml
  - statefulset-lidarr.yaml
  - statefulset-nzbget.yaml
  - statefulset-radarr.yaml
  - statefulset-sonarr.yaml
  - vpa.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/priorityClassName
        value: high-priority
    target:
      kind: StatefulSet
      group: apps
      version: v1
  - patch: |-
      - op: replace
        path: /spec/updatePolicy/updateMode
        value: "Off"
    target:
      kind: VerticalPodAutoscaler
      group: autoscaling.k8s.io
      version: v1
  - path: ./patches/ingress-internal.yaml
    target:
      kind: Ingress
