apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: bazarr
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: StatefulSet
    name: bazarr
  updatePolicy:
    updateMode: "Off"

---

apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: jellyfin
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: StatefulSet
    name: jellyfin
  updatePolicy:
    updateMode: "Off"

---

apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: nzbget
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: StatefulSet
    name: nzbget
  updatePolicy:
    updateMode: "Off"

---

apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: radarr
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: StatefulSet
    name: radarr
  updatePolicy:
    updateMode: "Off"

---

apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: sonarr
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: StatefulSet
    name: sonarr
  updatePolicy:
    updateMode: "Off"
