apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cnpg
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    - chart: cloudnative-pg
      repoURL: https://cloudnative-pg.github.io/charts
      targetRevision: 0.26.*
      helm:
        releaseName: cnpg
        valueFiles:
          - $repo/manifests/base/cnpg/values.yaml
    - repoURL: 'https://github.com/theadzik/homelab'
      targetRevision: main
      ref: repo
  destination:
    server: "https://kubernetes.default.svc"
    namespace: cnpg-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
