controller:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: "node-role.kubernetes.io/control-plane"
                operator: In
                values:
                  - "true"
  resources:
    requests:
      cpu: "10m"
      memory: "64Mi"
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

speaker:
  resources:
    requests:
      cpu: "10m"
      memory: "32Mi"
