apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: zmuda-pro-blog-netpol
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
