apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns-pihole
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns-pihole
  template:
    metadata:
      labels:
        app: external-dns-pihole
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          image: registry.k8s.io/external-dns/external-dns:v0.20.0
          env:
            - name: EXTERNAL_DNS_PIHOLE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: web-password
                  key: WEBPASSWORD
          args:
            - --source=ingress
            - --source=gateway-httproute
            - --source=gateway-grpcroute
            - --source=gateway-tlsroute
            - --source=gateway-tcproute
            - --source=gateway-udproute
            - --registry=noop
            - --provider=pihole
            - --pihole-api-version=6
            - --pihole-server=http://pihole-http.pihole.svc.cluster.local
            - --pihole-tls-skip-verify
            - --label-filter=dns-type in (internal)
            - --gateway-label-filter=dns-type in (internal)
      securityContext:
        fsGroup: 65534
