provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-secret
        key: CF_API_TOKEN
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        name: cloudflare-secret
        key: CF_API_EMAIL
labelFilter: dns-type in (external)
