- name: Check latest git-crypt.
  uri:
    url: https://api.github.com/repos/AGWA/git-crypt/releases/latest
    return_content: true
  register: gitcrypt_latest

- name: Create git-crypt version file.
  ansible.builtin.copy:
    content: ""
    dest: "{{ downloads_dir }}/git-crypt-{{ gitcrypt_latest.json.name }}"
    force: false
  register: gitcrypt_version

- name: Download git-crypt.
  loop: "{{ gitcrypt_latest.json.assets }}"
  loop_control:
    label: "{{ item.name }}"
    break_when: "'linux-x86_64' in item.name"
  when: "gitcrypt_version.changed and 'linux-x86_64' in item.name"
  ansible.builtin.get_url:
    url: "{{ item.browser_download_url }}"
    dest: /usr/bin/git-crypt
    mode: "755"
  become: true

- name: Install pre-commit and hook dependencies using pipx.
  community.general.pipx:
    name: "{{ item }}"
    state: latest
  loop:
    - pre-commit
    - detect-secrets

- name: Install hook dependencies using brew.
  community.general.homebrew:
    name: hadolint
    state: latest
