container_runtime: containerd
config:
  config.yaml.local: |
    api:
      client:
        unregister_on_exit: true
      server:
        use_forwarded_for_headers: true
        auto_registration:
          enabled: true
          token: "${REGISTRATION_TOKEN}"
          allowed_ranges:
            - "10.0.0.0/8"
    db_config:
      flush:
        bouncers_autodelete:
          cert: "1d"
          api_key: "1d"
        agents_autodelete:
          cert: "1d"
          login_password: "1d"

agent:
  acquisition:
    - namespace: traefik
      podName: traefik-*
      program: traefik
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/traefik"
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

lapi:
  replicas: 2
  resources:
    limits:
      memory: 500Mi
      cpu: 500m
    requests:
      cpu: 100m
      memory: 500Mi
  env:
    - name: ENROLL_INSTANCE_NAME
      value: 'home-prod'
    - name: ENROLL_TAGS
      value: 'k8s linux'
  envFrom:
    - secretRef:
        name: traefik-apikey
    - secretRef:
        name: enroll-key
  persistentVolume:
    data:
      enabled: true
      accessModes:
        - ReadWriteOnce
      storageClassName: "synology-iscsi-delete-ssd"
      size: 1Gi
    config:
      enabled: true
      accessModes:
        - ReadWriteOnce
      storageClassName: "synology-iscsi-delete-ssd"
      size: 1Gi
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

appsec:
  enabled: true
  replicas: 2
  strategy:
    type: Recreate
  resources:
    limits:
      memory: 250Mi
      cpu: 500m
    requests:
      cpu: 100m
      memory: 250Mi
  acquisitions:
    - source: appsec
      listen_addr: "0.0.0.0:7422"
      path: /
      appsec_configs:
        - crowdsecurity/appsec-default
        - crowdsecurity/crs
      labels:
        type: appsec
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs crowdsecurity/appsec-generic-rules"
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
