- name: Configure local.
  hosts: localhost
  vars_files:
    - vars/local-common.yaml
  pre_tasks:
    - name: Upgrade system with apt.
      become: true
      ansible.builtin.apt:
        upgrade: true
        cache_valid_time: 3600
    - name: Ensure packages are updated.
      ansible.builtin.apt:
        name: "{{ item }}"
        state: latest
      loop: "{{ common_packages }}"
      become: true
    - name: Ensure ansible download location.
      ansible.builtin.file:
        path: "{{ downloads_dir }}"
        state: directory
    - name: Ensure brew is installed.
      ansible.builtin.command: >
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      args:
        creates: /home/linuxbrew/.linuxbrew/bin/brew
  roles:
    - role: wsl
    - role: oh-my-zsh
    - role: git
    - role: k8s-tools
    - role: docker
    - role: node
