apiVersion: batch/v1
kind: CronJob
metadata:
  name: vw-backup
spec:
  schedule: "0 */12 * * *"
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 4
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          imagePullSecrets:
            - name: dockerhub-image-pull-secret
          containers:
            - name: backup
              image: theadzik/vw-backup:2026.2.1
              imagePullPolicy: IfNotPresent
              volumeMounts:
                - mountPath: /backup
                  name: backup
                - mountPath: /home/vaultwarden
                  name: rclone-conf
                - mountPath: /data
                  name: data
                  readOnly: true
                - mountPath: /tmp
                  name: tmp
              envFrom:
                - secretRef:
                    name: backup-encryption-secret
              env:
                - name: BACKUP_LOCAL_DIR
                  value: "/backup"
                - name: BACKUP_REMOTE_DIR
                  value: "gdrive:backup"
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
                runAsNonRoot: true
                capabilities:
                  drop:
                    - ALL
              resources:
                requests:
                  memory: "32Mi"
                  cpu: "100m"
                limits:
                  memory: "1Gi"
                  cpu: "1"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            seccompProfile:
              type: RuntimeDefault
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: vaultwarden
            - name: backup
              persistentVolumeClaim:
                claimName: vaultwarden-backup
            - name: rclone-conf
              secret:
                secretName: rclone-secret
            - name: tmp
              emptyDir: {}
          restartPolicy: Never
