apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-backup
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: "synology-nfs-retain"
