apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden
  annotations:
    argocd.argoproj.io/sync-options: Delete=false,Prune=false
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: "synology-iscsi-retain"
