arch_mapping:  # Map ansible architecture {{ ansible_facts["architecture"] }} names to Docker's architecture names
  x86_64: amd64

docker_package:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg
  - software-properties-common

distribution: "{{ ansible_facts['distribution'] | lower }}"
