apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-bot
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: synology-iscsi-retain
