---
all:
  children:
    ungrouped:
      hosts:
        localhost:
          ansible_connection: local

    k3s_cluster:
      children:
        server:
          hosts:
            192.168.0.4:
        agent:
          hosts:
            192.168.0.3:
            192.168.0.5:
      vars:
        ansible_port: 22
        k3s_version: v1.34.1+k3s1
        api_endpoint: "{{ hostvars[groups['server'][0]]['ansible_host'] | default(groups['server'][0]) }}"
        extra_server_args: ""
        extra_agent_args: ""
        ansible_private_key_file: ~/.ssh/id_ed25519
        server_config_yaml: |
          disable:
            - traefik
            - servicelb
          kube-controller-manager-arg:
            - "bind-address=0.0.0.0"
          kube-proxy-arg:
            - "metrics-bind-address=0.0.0.0"
          kube-scheduler-arg:
            - "bind-address=0.0.0.0"
          etcd-expose-metrics: true
          protect-kernel-defaults: true
        agent_config_yaml: |
          protect-kernel-defaults: true
        extra_manifests:
          - 'files/argocd-namespace.yaml'
          - 'files/argocd-values-secret.yaml'
          - 'files/argocd-helm.yaml'
          - 'files/argocd-bootstrap.yaml'
    gpu:
      children:
        intel:
          hosts:
            192.168.0.3:
            192.168.0.4:
            192.168.0.5:
  vars:
    ansible_user: adzik
