apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  annotations:
    cert-manager.io/cluster-issuer: "lets-encrypt-prod"
  labels:
    dns-type: internal
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - pihole.zmuda.pro
      secretName: pihole-tls
  rules:
    - host: pihole.zmuda.pro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: pihole-http
                port:
                  number: 80
