apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: any
  annotations:
    cert-manager.io/cluster-issuer: "lets-encrypt-prod"
  labels:
    dns-type: internal
spec:
  ingressClassName: traefik
