apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pihole
transformers:
  - transformer-labels.yaml
resources:
  - deployment-nebula.yaml
  - namespace.yaml
  - netpol.yaml
  - pdb.yaml
  - services.yaml
  - statefulset.yaml
  - ../image-pull-secret
  - ../pihole-password
configMapGenerator:
  - name: pihole-config
    envs:
      - configs/config.yaml
patches:
  - path: ./patches/statefulset.yaml
    target:
      kind: StatefulSet
