name: vw-restore-build
on:
  push:
    tags:
      - "vw-restore-*"
  schedule:
    - cron: "22 12 * * 6"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  get-tag:
    uses: theadzik/homelab/.github/workflows/get-tag.yaml@main
    with:
      tag-prefix: "vw-restore-"
  build-push:
    uses: theadzik/homelab/.github/workflows/build-push.yaml@main
    needs: get-tag
    with:
      source-tag: ${{ needs.get-tag.outputs.git_tag }}
      docker-tag: ${{ needs.get-tag.outputs.docker_tag }}
      docker-repo: vw-restore
      context-path: apps/vaultwarden/restore
      docker-push: true
    secrets: inherit
