name: vw-restore-build
on:
  push:
    tags:
      - "vw-restore-*"
  schedule:
    - cron: "22 12 * * 6"
  workflow_dispatch:
  pull_request:
    paths:
      - "apps/vaultwarden/restore/**"
jobs:
  restore-build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        if: ${{ github.event_name == 'schedule' }}
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get image tag
        if: github.event_name != 'pull_request'
        id: vars
        run: |
          if [ ${event} == "schedule" ]; then
            full_tag=$(git tag -n0 "vw-restore-*" | tail -n 1)
            echo "docker_tag=$(echo $full_tag | cut -d'-' -f3)" >> $GITHUB_OUTPUT
            echo "git_tag=$full_tag" >> $GITHUB_OUTPUT
          else
            echo "docker_tag=$(echo ${GITHUB_REF} | cut -d'-' -f3)" >> $GITHUB_OUTPUT
          fi
        env:
          event: ${{ github.event_name }}
      - uses: actions/checkout@v6
        name: Checkout latest tag
        if: ${{ github.event_name == 'schedule' }}
        with:
          ref: ${{steps.vars.outputs.git_tag }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          platforms: "linux/amd64,linux/arm64"
          context: "{{defaultContext}}:apps/vaultwarden/restore"
          push: false
      - name: Build and push
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          platforms: "linux/amd64,linux/arm64"
          context: "{{defaultContext}}:apps/vaultwarden/restore"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/vw-restore:${{steps.vars.outputs.docker_tag }},${{ vars.DOCKERHUB_USERNAME }}/vw-restore:latest
