name: update-sync-waves-inventory
on:
  push:
    branches:
      - "main"
    paths:
      - 'kubernetes/bootstrap/charts/app-of-apps/templates/*'
  workflow_dispatch:

env:
  APPLICATIONS_PATH: "${{ github.workspace }}/kubernetes/bootstrap/charts/app-of-apps/templates/"
  OUTPUT_PATH: "${{ github.workspace }}/sync-waves-inventory.md"

jobs:
  update-sync-waves-inventory:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Create venv and run updater
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip3 install -r requirements.txt
          python3 main.py
        working-directory: .github/scripts/sync-waves-inventory

      - name: Commit and push changes
        env:
          COMMIT_MESSAGE: Updating ArgoCD sync waves inventory
          COMMIT_AUTHOR: "github-actions[bot]"
          COMMIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
        run: |
          git config --global user.name "${{ env.COMMIT_AUTHOR }}"
          git config --global user.email "${{ env.COMMIT_EMAIL }}"

          manifest_path="$OUTPUT_PATH"

          if git diff --exit-code --quiet "$manifest_path"; then
            echo "No changes"
          else
            git add $manifest_path && git commit -m "${{ env.COMMIT_MESSAGE }}"
            git fetch origin
            git rebase --strategy-option=theirs "origin/${GITHUB_REF_NAME}"
            git push
          fi
